/vendor
/node_modules
/storage
/bootstrap
/sqlfile
/database
/tests
/nbproject
.env
uploads
server.php
.env.example
artisan
composer.json
composer.lock
gulpfile.js
package.json
phpspec.yml
phpunit.xml
readme.md
