
body{font-family: "Open Sans", "Helvetica", "Helvetica Neue",Arial,sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: "Open Sans", "Helvetica", "Helvetica Neue", Arial,sans-serif;}


body{
	background-image:url('images/bg.jpg');
}


.pin {
    display: inline-block;
    width: 60px;
    float: right;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 40;
}


.hdr-nav {
    min-height: 160px;
    margin-bottom: 50px;
}


.navbar-default .navbar-nav>li>a {
    font-size: 30px;
    color: #fff;
    margin-top: 28px;
}

.navbar-main {
    margin-left: 20px;
}

.caro-cap img {
    width: 150px;
    margin-left: 145px;
}



.carousel-inner.bg-cvr {
    padding: 60px;
    background-size: 100% 100%;
}

.carousel-inner .item {
    width: 100%;
    background-size: 100% 100%;
    color: #fff; 
     overflow: hidden;

     min-height: 500px;
}


.slide_bottom {
    height: 140px;
    float: left;
    width: 100%;
    margin: -15px; 
    position: absolute; bottom: 0px;
}

.slide_bottom img {
    position: absolute;
    bottom: 30px;
    right: 40px;
}


.slider-area .container, .slider .container {
    position: static;
}


section.banner-area {
    padding-top: 80px;
     padding-bottom:50px;
    text-align:center;
}

section.banner-area .pin {
       left: 50%;
    height: 100px;
    width: 90px;
    top: -10px;
}

.container .container{ width:auto; }


.hed h2 {
    text-align: center;
    color: #d00;
    font-size: 40px;
    margin: 40px;
}


.hed h2 {
    text-align: center;
    color: #d00;
    font-size: 40px;
    margin: 40px;
}

.prod__img {
    border: 2px solid #d00;
    border-radius: 6px;
    overflow: hidden;
    height: 200px;
     background-color: #fff;
    text-align: center;
}

.prod__cont {
    text-align: center;
    padding: 30px;
}

.btn-primary {
    background-color: #d00;
    border-color: #d00;
    font-size: 20px;
    padding-top: 2px;
    line-height: normal;
    padding-bottom: 2px;
}

.hed.lg h2 {
    font-size: 100px; color:#fff;
}
.hed.lg {
    position: relative;
    padding: 40px; margin-bottom:50px;
}

.hed.lg .pin.fl { left:20px; }

.hed.lg .pin { top: 44px; }

section.bottom-area {
    padding: 50px;
    color: #fff;
    font-size: 22px;
    padding-top: 70px;
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
}


i.icon {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.navbar-default .navbar-brand {
    padding: 0;
}


.caro-cap h2+h2 {
    margin-left: 60px;
} 

.caro-cap h2+h2~h2 {
    margin-left: 190px;
}

.caro-cap {
    padding: 20px;
}

.slider-area .pin1 {
    left: 20px;
}

.slider-area .pin.pin2 {
    right: 25px;
}

body .swiper-button-prev,
body .swiper-button-next {
    width: 80px;  opacity: 1;background-size: 100% 60px;text-align: center;
}


body 
.swiper-button-next{margin-right:-114px; 
    background-image: url("images/arrow2.png");}

body 
.swiper-button-prev{margin-left:-114px; 
    background-image: url("images/arrow.png");}

body .swiper-button-prev i,
body .swiper-button-next i {
    background-color: #d00;
    display: inline-block;
    color: #fff;
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 4px;
    margin-top: 8px;
}


/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* 12" Notebook & iPad landscape   width: 1024px */
@media only screen and (max-width : 1024px) {	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape  width: 736px */
@media only screen and (max-width : 736px) {	}

/*iPhone 6 landscape  width: 667px */
@media only screen and (max-width : 667px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* iPhone 5 Landscape  320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}