@font-face {
    font-family: 'happiness';
    src: url('fonts/happiness-webfont.woff2') format('woff2'),
         url('fonts/happiness-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{font-family:   "Helvetica", "Helvetica Neue",Arial,sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family:   "Helvetica", "Helvetica Neue", Arial,sans-serif;}


body{
	background-image:url('images/bg.jpg');
}

.hdr-nav {
    background-color: #fff;
    min-height: 10px;
    height: auto;
}

.hdr-nav .icon {
    width: 32px;
    display: inline-block;
}
a.navbar-brand {
    height: 82px;
    padding: 0;
	margin-bottom:4px;
}

a.navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-nav>li>a {
    font-size: 22px;
    line-height: 32px;
}

.navbar-main {
    margin-left: 60px;
    margin-top:8px;
}

.prod__img .__img img {
    height: 370px;
}

.prod__img {
    text-align: center;
    padding:10px;
}

.__tag {
    position: absolute;
    bottom: 10px;
    width: 60px;
    height: 60px;
    right:10px;
}


.prodbox .back {
    background-color: #000;
    opacity: .7;
}

.prodbox .back a {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 44%;
    display: inline-block;
    width: 100%;
}
.metroflip-box:hover .front {
    transform: rotateY(360deg);
    transition: all 1s ease-in-out !important;
}

.prod--sm .prod__img .__img img {
    height: 290px;
    float: right;
}

.prod__img {
    height: 400px;
}

.prod--sm .prod__img h3{ color:#fff; text-align:left; margin:0;}

.bg-blue{ background-color: #0595d4; }


.bg-brown{ background-color: #3d1903; }

.bg-purple{ background-color: #914f99; }

.bg-pink { background-color: #dc3386; }
 
.bg-green { background-color: #76b328; }
 
.bg-yellow { background-color: #ffcf00; } 
 
 .bg-red { background-color: #f70825; }
 
/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* 12" Notebook & iPad landscape  � width: 1024px */
@media only screen and (max-width : 1024px) {

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
}

	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 812px) {
	

	.navbar-cart {
    width: 100%;
    float: left;
    background-color: #f0382a;
}

.navbar-cart li {
    width: 50%;
    float: left;
} 

.navbar-default .navbar-cart>li>a {
    margin-top: 0; text-align:center;
}
ul.nav.navbar-nav.navbar-main {
    width: 100%;
    float: left;
    z-index: 2;
    position: relative;
    margin: 0px;
    background-color: #fff;
    border: 7px solid #fff;
}



ul.nav.navbar-nav.navbar-main li a {
    padding: 8px;
    font-size: 20px;
    margin: 10px;
	color:#f0382a;
}
	
	.carousel-inner.bg-cvr {
    padding:0; height:auto; margin-bottom:50px;
}

.carousel-inner .item {
    min-width: auto; padding-top:40px;
}

.caro-cap.has-image {
    position: static;
}

.slide_bottom {
    position: static;
    margin-top: 140px;
    width: -webkit-fill-available;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
}

.container {
    width: 100%;
}

a.navbar-brand {
    width: 150px;
}

.prod__img {
    height: 148px;
}
button.navbar-toggle.collapsed {
    background-color: #f0382a;
    margin-top: 40px;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #fff;
    background-color: #fff;
}

.carousel-inner.bg-cvr {
    padding:0; height:auto;
}

	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape � width: 736px */
@media only screen and (max-width : 736px) {	}

/*iPhone 6 landscape � width: 667px */
@media only screen and (max-width : 667px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* iPhone 5 Landscape � 320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {

.prod__img{ height:200px; }

.hed.lg h2 {
    font-size: 46px;
}

	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}